
.my-list {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(17, 78, 17) !important;
    color: white !important;
    font-size: 1.1em;
    margin-bottom: 4px;
    
}

.my-choise {
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    margin-bottom: 4px;
    background-color: rgb(255, 251, 0) !important;
    color: black !important;
    font-weight: bold;
}


